<nav>
    <ul>
        <li><a href="/fr">Français</a></li>
        <li><a href="/en">English</a></li>
        <li><a href="/es">Español</a></li>
    </ul>
</nav>

<h1>{{ pageTitle }}</h1> <!--{{ variable }} dans une balise-->
<h2></h2>
<p>{{ title }}</p>

<img src={{ image }} />