
<nav>
    <ul>
        <li><a href="/fr">Français</a></li>
        <li><a href="/en">English</a></li>
        <li><a href="/es">Español</a></li>
    </ul>
</nav>


{{#if err}}
    <h3> Page introuvable, retourner à la <a href="/">homepage</a> </h3>
{{/if}}

<h1>{{ pageTitle }}</h1> <!--{{ variable }} dans une balise-->
<h2>{{ title }}</h2>

<img src={{ image }} />

